* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

#header {
    position: relative;
    min-height: 100px;
    background-color: #433f3f;
 
}
.h{
    background-color: dodgerblue;
    color: #fff;
}
.titre {
    opacity: 0;
    position: absolute;
    background-color: #1d1a1a;
    padding: 0 10px;
    animation: titre 2s ease-in-out 0.5s alternate;
}

@keyframes titre {
    100% {
        opacity: 100%;
    }
}
.titre{
    opacity: 100%;
}

span {
    position: relative;
    background-color: #1d1a1a;
    font-size: 3em;
    color: dodgerblue;
    text-transform: uppercase;
    top: 15px;

}
.Menu_Burger {
    position: relative;
    width: 50px;
    height: 50px;
    /* background-color: #fff; */
    left: 95%;
    top: 20px;
    cursor: pointer;
}
.A {
    position: absolute;
    width: 45px;
    height: 3px;
    background-color:#fff;
    top: 30%;
    left: 50%;
    transform: translate(-50%, 50%);
}
.B{
    position: absolute;
    width: 45px;
    height: 3px;
    background-color:#fff;
    top: 50%;
    left: 50%;
    transform: translate(-50%,50%);
}
.C{
    position: absolute;
    width: 45px;
    height: 3px;
    background-color:#fff;
    top: 70%;
    left: 50%;
    transform: translate(-50%, 50%);
}
button {
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
    font-weight: bold;
    box-shadow: 3px 3px #000;
    font-size: 1.5em;
    border-radius: 50px;
    padding: 15px 15px;
    color: #fff;
    background: #0a5;
    transition: all 0.3s ease;
}

button:hover {
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
    background-color: #A01;
    color: #fff;
    box-shadow: 3px 3px #000;
    font-size: 1.5em;
    transition: all 0.3s ease-out;
    border-radius: 50px;
    font-weight: bold;
}

.trait1 {
    position: absolute;
    background-color: rgb(44, 225, 114);
    width: 2.8em;
    height: 2px;
    left: 10px;
}

.trait2 {
    position: absolute;
    background-color: dodgerblue;
    width: 3.8em;
    height: 2px;
    top: 70px;
    left: 3.3em;
}

.titre span:nth-child(1) {
    color: rgb(44, 225, 114);
}