    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        overflow: hidden;
    }
    #header {
        position: relative;
        top: 1px;
        width: 100%;
        height: 100px;
        background-color: #06063d;
    }
 .LOGO {
     position: absolute;
     top: 1px;
     width: 220px;
    }

 .slogan {
     color: floralwhite;
     position: absolute;
     font-size: 14px;
     left: 90px;
     top: 65px;
     font-weight: bold;
     font-style: italic;
 }
    #G {
        text-shadow: 4px 4px #000;
        position: relative;
        top: 20px;
        background-color: transparent;
        font-size: 3em;
        color: dodgerblue;
        text-transform: uppercase;
    }
    #T {
        text-shadow: 4px 4px #000;
        position: relative;
        top: 20px;
        background-color: transparent;
        font-size: 3em;
        color: dodgerblue;
        text-transform: uppercase;
    }
    .reservation {
        position: relative;
        padding: 30px;
        background-color: #2632df;
        height: 100vh;
    }
    h2 {
        position: relative;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        color: #fff;
        text-align: center;
        border-radius: 10px;
        border: 2px solid #fff;
        padding: 0;
        width: 750px;
        left: 20%;
    }

    .nom {
        position: absolute;
        top: 220px;
        font-weight: bold;
        color: #fff;
        font-size: 20px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        border: 2px solid;
        padding: 5px 95px;
        border-radius: 10px;
        background-color: dodgerblue;
        left: 30%;
    }

    .name {
        position: absolute;
        top: 220px;
        left: 52%;
        font-weight: bold;
        color: #fff;
        font-size: 20px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        border: 2px solid #fff;
        padding: 5px 81px;
        border-radius: 15px;
        background-color: dodgerblue;
    }
    .prenom {
        position: absolute;
        top: 270px;
        font-weight: bold;
        color: #fff;
        font-size: 20px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        border: 2px solid;
        padding: 5px 78px;
        border-radius: 10px;
        background-color: dodgerblue;
        left: 30%;
    }

    .firstname {
        position: absolute;
        top: 270px;
        left: 52%;
        font-weight: bold;
        color: #fff;
        font-size: 20px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        border: 2px solid;
        padding: 5px 111px;
        border-radius: 10px;
        background-color: dodgerblue;
    }

    .contact {
        position: absolute;
        top: 320px;
        font-weight: bold;
        color: #fff;
        font-size: 20px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        border: 2px solid;
        padding: 5px 78px;
        border-radius: 10px;
        background-color: dodgerblue;
        left: 30%;
    }

    .cont {
        position: absolute;
        top: 320px;
        left: 52%;
        font-weight: bold;
        color: #fff;
        font-size: 20px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        border: 2px solid;
        padding: 5px 75px;
        border-radius: 10px;
        background-color: dodgerblue;
    }

    .LD {
        position: absolute;
        top: 370px;
        font-weight: bold;
        color: #fff;
        font-size: 20px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        border: 2px solid;
        padding: 5px 40px;
        border-radius: 10px;
        background-color: dodgerblue;
        left: 30%;
    }

    .ld {
        position: absolute;
        top: 370px;
        left: 52%;
        font-weight: bold;
        color: #fff;
        font-size: 20px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        border: 2px solid;
        padding: 5px 96px;
        border-radius: 10px;
        background-color: dodgerblue;
    }

    .LA {
        position: absolute;
        top: 420px;
        font-weight: bold;
        color: #fff;
        font-size: 20px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        border: 2px solid;
        padding: 5px 45px;
        border-radius: 10px;
        background-color: dodgerblue;
        left: 30%;
    }

    .la {
        position: absolute;
        top: 420px;
        left: 52%;
        font-weight: bold;
        color: #fff;
        font-size: 20px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        border: 2px solid;
        padding: 5px 96px;
        border-radius: 10px;
        background-color: dodgerblue;
    }

    .HDV {
        position: absolute;
        top: 470px;
        font-weight: bold;
        color: #fff;
        font-size: 20px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        border: 2px solid;
        padding: 5px 80px;
        border-radius: 10px;
        background-color: dodgerblue;
        left: 30%;
    }

    .hdv {
        position: absolute;
        top: 470px;
        left: 52%;
        font-weight: bold;
        color: #fff;
        font-size: 20px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        border: 2px solid;
        padding: 5px 45px;
        border-radius: 10px;
        background-color: dodgerblue;
    }

    .PRIX {
        position: absolute;
        top: 520px;
        font-weight: bold;
        color: #fff;
        font-size: 20px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        border: 2px solid;
        padding: 5px 98px;
        border-radius: 10px;
        background-color: dodgerblue;
        left: 30%;
    }

    .price {
        position: absolute;
        top: 520px;
        left: 52%;
        font-weight: bold;
        color: #fff;
        font-size: 20px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        border: 2px solid;
        padding: 5px 45px;
        border-radius: 10px;
        background-color: dodgerblue;
    }

    .contain{
        position:   absolute;
        left: 25%;
        width: 500px;
        bottom: 10px;
        border: 2px solid white;
      
    }
    .confirmer {
        position: absolute;
        bottom: 1px;
        z-index: 3;
        left: 50%;
        font-size: 22px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        background-color: #0a5;
        color: #fff;
        font-weight: bold;
        padding: 5px;
        border-radius: 15px;
        transition: 0.5s ease;
        left: 45%;
        cursor: pointer;
    }

    .confirmer:hover {
        position: absolute;
        bottom: 15px;
        z-index: 3;
        left: 45%;
        font-size: 22px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        background-color: #A01;
        color: #fff;
        font-weight: bold;
        padding: 5px;
        border-radius: 15px;
        transition: 0.5s ease;
        cursor: pointer;
    }

    li {
        list-style: none;
    }

    .acc {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        margin: 0;
        position: absolute;
        color: #fff;
        text-decoration: none;
        left: 41%;
        top: 30px;
        font-size: 20px;
    }

    .acc:hover {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        margin: 0;
        position: absolute;
        padding: 5px;
        color: #fff;
        text-decoration: none;
        left: 41%;
        top: 30px;
        font-size: 20px;
        transition: 0.5s ease-in-out;
        border: 2px solid #fff;
        border-radius: 10px;
        background-color: #0a5;
    }

    .horaire {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        margin: 0;
        position: absolute;
        color: #fff;
        text-decoration: none;
        left: 51%;
        top: 30px;
        font-size: 20px;
    }

    .horaire:hover {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        margin: 0;
        position: absolute;
        color: #fff;
        text-decoration: none;
        left: 51%;
        top: 30px;
        font-size: 20px;
        transition: 0.5s ease-in-out;
        border: 2px solid #fff;
        border-radius: 10px;
        background-color: #0a5;
        padding: 5px;
    }

    .place {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        margin: 0;
        position: absolute;
        color: #fff;
        text-decoration: none;
        left: 60%;
        top: 30px;
        font-size: 20px;
    }

    .place:hover {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        margin: 0;
        position: absolute;
        color: #fff;
        text-decoration: none;
        left: 60%;
        top: 30px;
        font-size: 20px;
        transition: 0.5s ease-in-out;
        border: 2px solid #fff;
        border-radius: 10px;
        background-color: #0a5;
        padding: 5px;
    }

    .propos {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        margin: 0;
        position: absolute;
        color: #fff;
        text-decoration: none;
        left: 75%;
        top: 30px;
        font-size: 20px;
    }

    .propos:hover {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        margin: 0;
        position: absolute;
        color: #fff;
        text-decoration: none;
        left: 75%;
        top: 30px;
        font-size: 20px;
        transition: 0.5s ease-in-out;
        border: 2px solid #fff;
        border-radius: 10px;
        background-color: #0a5;
        padding: 5px;
    }

    .reser {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        margin: 0;
        position: absolute;
        color: #fff;
        text-decoration: none;
        left: 91%;
        top: 30px;
        font-size: 20px;
    }

    .reser:hover {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        margin: 0;
        position: absolute;
        color: #fff;
        text-decoration: none;
        left: 91%;
        top: 30px;
        font-size: 20px;
        transition: 0.5s ease-in-out;
        border: 2px solid #fff;
        border-radius: 10px;
        background-color: #0a5;
        padding: 5px;
    }

    .MENU_CLOSE,
    .MENU_OPEN {
        visibility: hidden;
    }

    @media (max-width:1080px) {
        * {
            padding: 0;
            margin: 0;
            box-sizing: border-box;
            overflow: hidden;

        }

        img {
            position: absolute;
            top: 10px;
        }

        .confirmer {
            position: absolute;
            bottom: 15px;
            z-index: 3;
            left: 30%;
            font-size: 1em;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            background-color: #0a5;
            color: #fff;
            font-weight: bold;
            padding: 5px;
            border-radius: 15px;
            transition: 0.2s ease;
            cursor: pointer;
        }

        #header {
            position: relative;
            min-height: 100px;
            background-color: #06063d;
            z-index: 200;
        }

        .confirmer:hover {
            position: absolute;
            bottom: 15px;
            z-index: 3;
            cursor: pointer;
            left: 30%;
            font-size: 1em;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            background-color: #a01;
            color: #fff;
            font-weight: bold;
            padding: 5px;
            border-radius: 15px;
            transition: 0.2s ease;
        }

        #ACC {
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            position: absolute;
            color: #fff;
            margin: 0;
            text-decoration: none;
            left: 1%;
            top: 30px;
            font-size: 20px;
            padding: 5px;
            transition: all 2s ease;
            width: 50vw;
            text-align: center;
        }

        #ACC:hover {
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            margin: 0;
            position: absolute;
            padding: 5px;
            color: #fff;
            text-decoration: none;
            left: 1%;
            top: 30px;
            font-size: 20px;
            transition: 0.5s ease-in-out;
            border: 2px solid #fff;
            border-radius: 10px;
            background-color: #0a5;
            width: 50vw;
            text-align: center;
        }

        #horaire {
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            margin: 0;
            position: absolute;
            color: #fff;
            text-decoration: none;
            left: 1%;
            top: 75px;
            font-size: 20px;
            text-align: center;
            width: 50vw;
            transition: all 2s ease;
        }

        #horaire:hover {
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            margin: 0;
            position: absolute;
            color: #fff;
            text-decoration: none;
            left: 1%;
            top: 75px;
            font-size: 20px;
            transition: 0.5s ease-in-out;
            border: 2px solid #fff;
            border-radius: 10px;
            background-color: #0a5;
            padding: 5px;
            width: 50vw;
        }

        #place {
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            margin: 0;
            position: absolute;
            color: #fff;
            text-decoration: none;
            left: 1%;
            top: 120px;
            font-size: 20px;
            text-align: center;
            width: 50vw;
            transition: all 2s ease;
        }

        #place:hover {
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            margin: 0;
            position: absolute;
            color: #fff;
            text-decoration: none;
            left: 1%;
            top: 120px;
            font-size: 20px;
            transition: 0.5s ease-in-out;
            border: 2px solid #fff;
            border-radius: 10px;
            background-color: #0a5;
            padding: 5px;
            text-align: center;
            width: 50vw;
        }

        #propos {
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            margin: 0;
            position: absolute;
            color: #fff;
            text-decoration: none;
            left: 1%;
            top: 165px;
            font-size: 20px;
            width: 50vw;
            text-align: center;
            transition: all 2s ease;
        }

        #propos:hover {
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            margin: 0;
            position: absolute;
            color: #fff;
            text-decoration: none;
            left: 1%;
            top: 165px;
            font-size: 20px;
            transition: 0.5s ease-in-out;
            border: 2px solid #fff;
            border-radius: 10px;
            background-color: #0a5;
            padding: 5px;
            text-align: center;
            width: 50vw;
        }

        #reser {
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            margin: 0;
            position: absolute;
            color: #fff;
            text-decoration: none;
            left: 1%;
            top: 210px;
            font-size: 20px;
            text-align: center;
            width: 50vw;
            transition: 0.5s ease-in-out;
        }

        #reser:hover {
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            margin: 0;
            position: absolute;
            color: #fff;
            text-decoration: none;
            left: 1%;
            top: 210px;
            font-size: 20px;
            transition: 0.5s ease-in-out;
            border: 2px solid #fff;
            border-radius: 10px;
            background-color: #0a5;
            padding: 5px;
            text-align: center;
            width: 50vw;
        }

        .fenetre {
            position: absolute;
            width: 300px;
            height: 100vh;
        background-color: #06063d;
            right: 1px;
            visibility: visible;
            transform: translateY(-300%);
            z-index: 100;
        }
 .LOGO {
     position: absolute;
     top: 1px;
     width: 220px;
 }

 .slogan {
     color: floralwhite;
     position: absolute;
     font-size: 14px;
     left: 90px;
     top: 65px;
     font-weight: bold;
     font-style: italic;

 }
        .MENU_CLOSE {
            width: 55px;
            height: 55px;
            position: absolute;
            right: 20px;
            border-radius: 100px;
            top: 25px;
            cursor: pointer;
            visibility: hidden;
        }

        .MENU_OPEN {
            width: 55px;
            height: 55px;
            position: absolute;
            right: 20px;
            border-radius: 120px;
            top: 25px;
            cursor: pointer;
            background-color: rgb(57, 58, 57);
            visibility: visible;
        }

        .reservation {
            position: relative;
            padding: 0px;
            background-color: #2632df;
            /* width: 88.5%; */
            height: 100vh;
        }

        h2 {
            position: relative;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            color: #fff;
            text-align: center;
            border-radius: 20px;
            border: 2px solid #fff;
            padding: 5px;
            width: 70%;
            left: 15%;
            font-size: 1rem;
            top: 5%;
            font-weight: bold;
        }

        .nom {
            position: absolute;
            top: 222px;
            font-weight: bold;
            color: #fff;
            font-size: 1em;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            text-align: center;
            padding: 5px 55px;
            border-radius: 20px;
            background-color: dodgerblue;
            left: 10%;
            /* width: 35%; */
            margin: 1%;
        }

        .name {
            position: absolute;
            top: 222px;
            left: 45%;
            font-weight: bold;
            color: #fff;
            font-size: 1em;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            padding: 5px 75px;
            border-radius: 20px;
            margin: 1%;
            background-color: transparent;
            font-weight: bold;
        }

        .prenom {
            position: absolute;
            top: 270px;
            font-weight: bold;
            color: #fff;
            font-size: 1em;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            border: 2px solid #fff;
            padding: 5px 40px;
            border-radius: 20px;
            background-color: dodgerblue;
            left: 10%;
            /* width: 35%; */
        }

        .firstname {
            position: absolute;
            top: 270px;
            left: 45%;
            font-weight: bold;
            color: #fff;
            font-size: 1em;
            border: 2px solid #fff;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            padding: 5px 60px;
            border-radius: 20px;
            background-color: transparent;
        }

        .contact {
            position: absolute;
            top: 320px;
            font-weight: bold;
            color: #fff;
            font-size: 1em;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            border: 2px solid;
            padding: 5px 40px;
            border-radius: 20px;
            background-color: dodgerblue;
            left: 10%;

        }

        .cont {
            position: absolute;
            top: 320px;
            left: 45%;
            font-weight: bold;
            color: #fff;
            font-size: 1em;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            border: 2px solid #fff;
            padding: 5px 60px;
            border-radius: 20px;
            background-color: transparent;
        }

        .LD {
            position: absolute;
            top: 370px;
            font-weight: bold;
            color: #fff;
            font-size: 1em;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            border: 2px solid;
            padding: 5px 10px;
            border-radius: 20px;
            background-color: dodgerblue;
            left: 10%;

        }

        .ld {
            position: absolute;
            top: 370px;
            left: 45%;
            font-weight: bold;
            color: #fff;
            font-size: 1em;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            border: 2px solid #fff;
            padding: 5px 65px;
            border-radius: 20px;
            background-color: transparent;
        }

        .LA {
            position: absolute;
            top: 420px;
            font-weight: bold;
            color: #fff;
            font-size: 1em;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            border: 2px solid;
            padding: 5px 15px;
            border-radius: 20px;
            background-color: dodgerblue;
            left: 10%;

        }

        .la {
            position: absolute;
            top: 420px;
            left: 45%;
            font-weight: bold;
            color: #fff;
            font-size: 1em;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            border: 2px solid #fff;
            padding: 5px 45px;
            border-radius: 20px;
            background-color: transparent;
        }

        .HDV {
            position: absolute;
            top: 470px;
            font-weight: bold;
            color: #fff;
            font-size: 1em;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            border: 2px solid;
            padding: 5px 40px;
            border-radius: 20px;
            background-color: dodgerblue;
            left: 10%;

        }

        .hdv {
            position: absolute;
            top: 470px;
            left: 45%;
            font-weight: bold;
            color: #fff;
            font-size: 1em;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            border: 2px solid #fff;
            padding: 5px 35px;
            border-radius: 20px;
            background-color: transparent;
        }

        .PRIX {
            position: absolute;
            top: 520px;
            font-weight: bold;
            color: #fff;
            font-size: 1em;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            border: 2px solid;
            padding: 5px 55px;
            border-radius: 20px;
            background-color: dodgerblue;
            left: 10%;

        }

        .price {
            position: absolute;
            top: 520px;
            left: 45%;
            font-weight: bold;
            color: #fff;
            font-size: 1em;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            border: 2px solid #fff;
            padding: 5px 60px;
            border-radius: 20px;
            background-color: transparent;
        }
    }